<div *ngIf="loaded$; else loading">
  <form class="search-form">
    <mat-form-field>
      <label>
        <input matInput placeholder="Search Currency" value="{{searchValue}}" (keyup)="onKey($event)">
      </label>
    </mat-form-field>
    <button mat-raised-button color="primary" class="search-btn" (click)="onSubmit($event)">Search</button>
  </form>

  <mat-selection-list #assets>
    <mat-list-option *ngFor="let asset of assets$">
      <span>{{asset.name}}</span>
    </mat-list-option>
  </mat-selection-list>

  <p>
    Options selected: {{assets.selectedOptions.selected.length}}
  </p>
</div>
<ng-template #loading>Loading...</ng-template>
