<div *ngIf="favourites$.length === 0; else showFavourites">
  <h3>Nothing here yet</h3>
  <p>Go to <a href="/">Home page</a> and add first item to your favourites</p>
</div>
<ng-template #showFavourites>
  <mat-list>
    <mat-list-item *ngFor="let fav of favourites$" (click)="removeElement(fav.id)">
      <button mat-icon-button color="primary" class="fav-button">
        <mat-icon>indeterminate_check_box</mat-icon>
      </button>
      <span>{{fav.name}}</span>
    </mat-list-item>
  </mat-list>
</ng-template>
