.fav-container {
  padding-bottom: 20px
}

.header {
  display: grid;
  grid-auto-flow: column;
}

.title {
  padding-left: 20px;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.edit-favourites {
  float: right;
  margin-bottom: 8px;
}
